#logotipo {
	width: 570px;
	height: 125px;
	float: left;
	background-repeat: repeat-x;
	background-image: url("#{resource['imagens:banner.png']}");
	opacity: 0.65;
}

#bemvindo {	
	width: 230px;
	height: 125px;
	float: left;
	text-align: center;
	background-image: url("#{resource['imagens:banner.png']}");
	opacity: 0.65;
}

#menu {
	width: 155px;	
	height: 515px;
	float: left;
}

#principal {
	width: 645px;
	height: 515px;
	float: right;
}

#titulo {
	padding-top: 20px;
	font-size: 25px;
	font-weight: bold;
	font-family: Arial;
	color: #59595F;
	width: 645px;
	height: 60px;
}

#conteudo {
	height: 437px;	
	width: 645px;
}

#rodape {
	height: 18px;
	width: 645px;
	text-align: center;
	font-family: Arial;
	color: graytext;
	font-size: 12px;
	font-weight: bold;
}

.labelBemvindo {	
	font-size: 14px;
	padding-top: 10px;
	opacity: 1;
	font-weight: bold;
}

.ui-menu{
	color: #59595f;
	height: 515px;
}

.ui-menuitem-text {
	font-size: 12px;
}

.ui-menuitem{
	color: #59595f;
}

.ui-menuitem-link{
	color: #59595f;
}